* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

table {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

.bg {
  height: 95vh;
  width: 18.5vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.slider {
  overflow: hidden;
  position: absolute;
  padding: 0px 25px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.front img {
  height: 100%;
  width: 100%;
}
.imageRow {
  display: flex;
  justify-content: center;
  text-align: center;
}
.logo-img {
  display: flex;
  justify-content: center;
}
.logo-img img {
  width: 50%;
  max-width: 305px;
  height: auto;
}

.front {
  background-color: white;
  min-height: 550px;
  max-height: 550px;
  min-width: 475px;
  max-width: 475px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}
.codeInput {
  /* background-color: rgb(29, 28, 28); */
  color: black;
  width: 60%;
  height: 50px;
  border-radius: 2px;
  font-size: 1.5rem;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  top: 60%;
}
.checkIn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
.textRow {
  color: black;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}
.codeRow {
  color: black;
  left: 0;
  top: 50%;
  width: 100%;
  font-size: 1.5rem;
  margin-top: 15%;
  display: flex;
  justify-content: center;
}
.imageRow {
  width: 100%;
}
.logo-img {
  display: flex;
  justify-content: center;
  margin-top: auto;
  margin-bottom: 15px;
  width: 100%;
  height: auto;
}
.codeText {
  color: black;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
}

.codeSubmit {
  background-color: rgb(29, 28, 28);
  border: none;
  color: whitesmoke;
  width: 60%;
  height: 50px;
  display: block;
  margin: 15px auto;
  justify-content: center;
  transition: 500ms;
}
.codeSubmit:hover {
  background-color: whitesmoke;
  color: rgb(29, 28, 28);
  border: solid 3px rgb(29, 28, 28);
}

.feedback-title {
  margin-top: 25px;
  font-size: 26px;
}
.feedback-text {
  margin-top: 25px;
  font-size: 18px;
  word-break: break-word;
  width: 250px;
}

.errorPopup {
  position: absolute;
  right: -95;
  background: url('../images/popup/popup.png');
  background-repeat: no-repeat;
  height: 50px;
  width: 235px;
  color: white;
  display: none;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
  top: 335px;
}
.errorPopup p {
  margin: 0;
}

#loader {
  display: none;
  margin-top: 75px;
  height: 4rem;
  width: 4rem;
}
* {
  box-sizing: border-box;
}
body {
  font: 16px Arial;
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type='text'] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type='submit'] {
  background-color: DodgerBlue;
  color: #fff;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  /* border-bottom: none; */
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
  /* Add scrollbar by setting height */
  height: 200px;
  overflow-y: auto;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
  /* overflow-y: auto; */
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}