* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.col {
    margin-right: 2%;
}/*
p {
    font-weight: bold;
    text-align: center;
    font-size: .9rem;
    position: absolute;
    top: 40%;
    left: 14%;
    animation: text 3s 1;
}
/*
@keyframes text{
    0%{
        color: black;
        margin-bottom: 60px;
    }
    10% {
        letter-spacing: 8px;
        margin-bottom: 60px;
    }
    30% {
        letter-spacing: 4px;
        margin-bottom: 60px;
    }
    40% {
        letter-spacing: 3px;
        margin-bottom: 60px;
    }
}
/*animate words to match box animation*/
/*
button {
    position: relative;
    width: 60%;
    height: 10%;
    top: 50%;
    justify-content: center;
    align-items: center;
}

.logo-img {

} */
.bg {
    margin-left: 2%;
    width: 96%;
    height: 60%;
    z-index: -1;
}
.slider {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    z-index: -1;
} 
section {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.front img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.front {
    background-color: white;
    height: 20%;
    width: 76%;
    position: relative;
}

.front::after {
    content: "";
    background: black;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.2;
}
/*
@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops

@media (min-width: 1281px) {
  
    //CSS
    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    //CSS
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px

  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    //CSS
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px

  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    //CSS
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px

  
  @media (min-width: 481px) and (max-width: 767px) {
    
    //CSS
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px

  
  @media (min-width: 320px) and (max-width: 480px) {
    
    //CSS
    
  }*/