* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.bg {
  margin: 2%;
  width: 96%;
  height: 100%;
  z-index: -1;
}
#slide1,
#slide2,
#slide3,
#slide4,
#slide5 {
  margin: 2%;
  width: 5%;
}

.slider {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  z-index: -1;
}
.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.front img {
  height: 100%;
  width: 100%;
}
img .logo-img {
  position: absolute;
  height: 100vh;
  width: 100%;
  object-fit: scale-down;
  justify-content: center;
}
.front {
  margin: 0;
  padding: 0;
  background-color: white;
  height: 20%;
  width: 76%;
  position: relative;
}
.codeInput {
  /* background-color: rgb(29, 28, 28); */
  color: black;
  margin: auto;
  width: 60%;
  height: 6vh;
  border-radius: 2px;
  font-size: 1.5rem;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  top: 60%;
}
.textRow {
  color: black;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  margin: 5% 0;
}
.codeRow {
  color: black;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 30%;
}
.logo-img {
  display: block;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 16%;
}
.codeText {
  color: black;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
}
.imageRow {
  margin: 10%;
}
.codeSubmit {
  background-color: rgb(29, 28, 28);
  border: none;
  color: whitesmoke;
  margin: 5% 0 0 20%;
  width: 60%;
  height: 6vh;
  display: flex;
  justify-content: center;
}
/* .front::after {
    content: "";
    background: black;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.2;
} */
/*
@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops

@media (min-width: 1281px) {
  
    //CSS
    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    //CSS
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px

  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    //CSS
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px

  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    //CSS
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px

  
  @media (min-width: 481px) and (max-width: 767px) {
    
    //CSS
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px

  
  @media (min-width: 320px) and (max-width: 480px) {
    
    //CSS
    
  }*/
